.container{background-color: #66af93;}
        header{width: 70%;
        justify-self: center;}
        header img{width: 70%;
        padding-left: 20%;}
        nav{
background-color: olive;
    }
    ul{
text-align: center;
display: flex;
justify-content: space-around;
list-style: none;
    }
    li{
display: inline-block;
line-height: 3em;
font-family: monospace;
font-size: x-large;
    }
    a{
color: aliceblue;
text-decoration: none;
display: block;
    }
    p {text-align: center;
    font-size: x-large;
font-family: monospace;
font-weight: 200;}
.container{width: 100%;
justify-content: space-around;}
.gallery{
    padding-left: 10%;}
    footer{background-color: olivedrab;
    color: rgb(198, 218, 160);
text-align: center;}
li a:hover{background-color: rgb(82, 165, 112);}
@media screen and (max-width: 600px) {
    .nav{
      float: none;
      width: 100%;
    }
    li{font-size: small;}
    ul{display: block;}
    img{width: 30%;}
    video{width: 30%;}
p{font-size: small;}
}